# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Prisma
/prisma/migrations/dev.db*

# Environment
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# OS / editors
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea/
